---
Language: Cpp
BasedOnStyle: Google
ReflowComments: false
IndentWidth: 4
NamespaceIndentation: None
ReflowComments: false
SortIncludes: false
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: true
AlignAfterOpenBracket: DontAlign
...
